.Sidebar {
  flex: 1;
  border-right: 0.5px solid gray;
  min-height: 100vh;
  background-color: #e0e0e0;
  div{
    background-color: whitesmoke;
    margin: 5px 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px rgb(209, 209, 209) ;

  }
  .top {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo {
      font-weight: bold;
      font-size: 30px;
      color: aquamarine;
    }
  }
  .center {
    border-top: 0.5px solid gray;

    ul {
      list-style: none;
      display: block;
      align-items: center;
      
      li {
        padding: 10px;
        
      }
      .title {
        font-weight: bold;
        font-size: 15px;
        padding-top: 20px;
        padding-bottom: 10px;
        color: #999;
      }
      li {
        display: flex;
        align-items: center;
        cursor: pointer;
        border-radius: 10px;

        &:hover {
          background-color: rgba(225, 225, 225, 0.482);
        }
        .icon {
          padding: 5px;
        }
        span {
          padding: 5px;
        }
      }
    }
  }
  
  .bottom {
    border-top: 0.5px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    .colorMode {
      display: flex;

      width: 45px;
      height: 45px;
      border: 2px #fff solid;
      border-radius: 6px;
      margin: 8px;

      cursor: pointer;
      &:nth-child(1) {
        background-color: rgb(229, 229, 229);
      }
      &:nth-child(2) {
        background-color: rgb(42, 42, 42);
      }
    }
  }
}
